/* EXEMPLO DE PATH PARA INCLUIR FONTES: /assets/fonts/foo-bar.woff */

@import './fonts/proxima-nova.css';
@import './fonts/circular-spotify.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    @apply font-proximanova;
}

.bg-principal {
    background: url('~/static/imgs/noise.png') center center #FFFCF9;
}

/* FORM */
.input {
    @apply block w-full py-2 pl-10 pr-2 text-base bg-white border rounded-lg outline-none border-teclagreen-100 text-teclagrey-100 font-circularspotifytext font-book;
}

.input-feature {
    @apply block w-full pb-[8px] pt-[14px] pl-10 pr-3 bg-teclagreen-100 text-base font-bold text-teclalight-50 rounded-lg outline-none border border-teclagreen-100;
}

.input-with-icon {
    @apply block w-full pb-[8px] pt-[14px] pl-10 pr-3 bg-teclalight-50 text-base font-bold text-teclagrey-100 rounded-lg outline-none border border-teclagreen-100;
}

.label {
    @apply absolute left-[17px] top-[8px] text-[8px] uppercase text-teclalight-50 font-bold z-10;
}

.btn {
    @apply block w-full text-base font-bold text-center rounded-lg bg-teclagreen-100 text-teclalight-100 p-[9px] shadow-lg relative;
}

/* PLAYLISTS */
.playlists li + li {
    @apply mt-[6px];
}

.text-gradiente {
    @apply relative;
}

.text-gradiente:after {
    @apply absolute top-0 right-[-15px] h-full w-10 pointer-events-none;
    background: rgb(0,196,152);
    background: linear-gradient(90deg, rgba(0,196,152,0) 0%, rgba(0,196,152,1) 50%);
    content: '';
}